instance-01,12345678,us-east1-b,project1,device-01,pd-ssd,permanent,01
instance-02,23456789,us-east1-c,project2,device-02,pd-standard,ephemeral,02
instance-03,34567890,us-east1-d,project3,device-03,pd-ssd,ephemeral,03
instance-04,45678910,us-east4-b,project4,device-04,pd-standard,ephemeral,04
instance-05,56789101,europe-west1-b,project5,device-05,pd-ssd,permanent,05
instance-06,67891011,europe-west1-c,project6,device-06,pd-standard,ephemeral,06
instance-07,78910111,europe-west1-d,project7,device-07,pd-ssd,ephemeral,07
instance-08,89101112,asia-east1-b,project8,device-08,pd-standard,permanent,08
instance-09,91011121,asia-east1-a,project9,device-09,pd-ssd,permanent,09
instance-10,10111213,asia-east1-c,project10,device-10,pd-standard,permanent,10